/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
Fonts
*********************/

$serif-family: 'Roboto Slab', Georgia, serif;
$header-family: 'Libre Franklin', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$sans-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
