*.sass-cache/*
*node_modules/
*bower_components/
*npm-debug.log
*.DS_Store
*.sublime-*
*sftp-config.json

/*
!.gitignore
!wp-content/
!README.md
!todo.txt

wp-content/*
!bckup-*.sql
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/
!wp-content/languages/

wp-content/plugins/*

wp-content/mu-plugins/*

wp-content/themes/*
!wp-content/themes/JointsCIT/
!wp-content/themes/JointsCIT-backup/



wp-content/languages/*
!wp-content/languages/plugins/
wp-content/languages/plugins/*
!wp-content/languages/plugins/co-authors-plus-es_PE.*
!wp-content/languages/plugins/members-es_PE.*
!wp-content/languages/plugins/the-events-calendar-es_PE-es_PE.*