.profile-meta {
	font-family: $sans-family;
	color: #999;
	font-size: $small-font-size;
	.profile-position {
		text-transform: uppercase;
	}
}

.wp-post-image {
	.article-header & {
		margin-bottom: 1rem;

		@include border-radius(50%);
	}
}

.profile-block {
	text-align: center;
	margin: 1rem 0;
	.profile-image {
		margin: 0 auto;
		display: block;
		width: 150px;
		height: 150px;
		overflow: hidden;
		@include border-radius(50%);
		img {
			width: 100%;
		}
	}
	h3 {
		@extend h5;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}

.temporary-subscribers {
	+ .add-temporary-subscriber {
		margin-top: 1rem;
		@include breakpoint(medium) {
			margin-top: 2rem;
		}
	}
}