.off-canvas-wrapper {
  @include breakpoint(large) {
  	@include site-border;
  }
}

#sidebar-menu {
	@include static-left-sidebar;
	position: relative;
	z-index: 99;
	background-color: $white;
}

#content {

	#inner-content {
		padding: 0rem;
		position: relative;
		z-index: 99;
		background-color: $white;
	}
	#main-livestream {
		background-color: #fff;
		padding-top: 1rem;

		@include breakpoint(medium) {
			body:not(.single):not(.post-type-archive-tribe_events):not(.page) & > article:first-of-type {
				.entry-content {
					font-size: $larger-font-size;
				}
			}
		}
	}
	#main {

		padding-top: 1rem;
		// background-color: $white;

		@include breakpoint(medium) {
			body:not(.single):not(.post-type-archive-tribe_events):not(.page) & > article:first-of-type {
				.entry-content {
					font-size: $larger-font-size;
				}
			}
		}

		@include breakpoint(small) {
			@include grid-column($columns: 100%, $gutters:30px);
		}
		@include breakpoint(medium) {
			@include grid-column($columns: 100%, $gutters:100px);
		}
		@include breakpoint(large) {
			@include grid-column($columns: 66.66667%, $gutters:30px);
		}
		@include breakpoint(xlarge) {
			@include grid-column($columns: 75%, $gutters:150px);
		}
		@include breakpoint(xxlarge) {
			@include grid-column($columns: 75%, $gutters:250px);
		}
	}

	#main,
	#main-livestream,
	.sidebar {
		padding-bottom: 2rem;
	}

	@include breakpoint(medium) {
		// @include static-contentarea;

		#main-livestream,
		#main {
			padding-top: 2rem;
		}
	}

	@include breakpoint(large) {
		@include static-contentarea;
		background: color('grey', 'light');

		#inner-content {
			padding: 0rem;
			background-color: color('grey', 'light');
		}
		#main-livestream,
		#main {
			padding-top: 3rem;
			background: color('white', 'base');
		}
	}
}