// .livestream-inactive {
// 	// background: #000;
// 	max-width: 600px;
// 	margin: 12vw auto;
// 	padding: 25px;
// 	text-align: center;
// }

.livestream-chat-container {
	min-height: 540px;

	iframe {
		width: 100%;
		height: 100%;
	}
}



@include breakpoint(large) {
	.livestream-with-chat {
		.livestream-outer-container {
			width: 70%;
			float: left;
		}
		.livestream-chat-container {
			width: 30%;
			float: right;
			padding-left: 1rem;
		}

	}
}
@include breakpoint(xxlarge) {
	.livestream-with-chat {
		.livestream-outer-container {
			width: 80%;
			float: left;
		}
		.livestream-chat-container {
			width: 20%;
			float: right;
		}

	}
}

@supports (display: grid) {
	.livestream-with-chat { 
		display: grid;
		grid-gap: 1rem;
		align-items: center;
		// justify-items: center;
		padding-left: 0;

		.livestream-chat-container {
			width: auto;
			align-self: stretch;
			min-height: 540px;
			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.livestream-outer-container {
			width: auto;
			display: grid;
			align-items: center;
		}


		@include breakpoint(960px) {

			grid-template-columns: 1fr minmax(280px, auto);
			// align-items: center;

			.livestream-chat-container {
				padding: 0;
				// background: green;
				// border: 2px solid black;
			}
		}

		@include breakpoint(xlarge) {
			grid-template-columns: 1fr minmax(400px, auto);
		}
	}
}