.list-reports {
	.cit_report {
		margin-bottom: 1rem;
		padding-bottom: 1.15rem;
		border-bottom: $divider-base;
	}

	.entry-title {
		margin-bottom: 0;
	}
}

.list-report-buttons {
	margin-top: 0.5rem;
	.button {
		margin-bottom: 0;
	}
}


@include breakpoint(medium) {
	.list-reports {
		.cit_report {
			margin-bottom: 1.5rem;
			padding-bottom: 1.7rem;
		}
		.entry-title {
			font-size: 22px;
		}
	}
}


@supports (display: grid) {
	@include breakpoint(medium) {
		.list-reports .cit_report {
			display: grid;
			grid-template-columns: auto 140px;
			.logged-in & {
				grid-template-columns: auto $list-report-buttons-width;
			}
		}
		.list-report-information {
			padding-right: 30px;
			p:last-child {
				margin-bottom: 0;
			}
		}
		.list-report-buttons {
			margin-top: 0.35rem;
			text-align: right;
		}
	}
	@include breakpoint(large only) {
		.logged-in .list-reports .cit_report {
			grid-template-columns: auto 140px;
		}
	}
}

