/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-slab-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../assets/fonts/roboto-slab-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/roboto-slab-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('../assets/fonts/roboto-slab-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-slab-v6-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}


/* libre-franklin-900 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/libre-franklin-v2-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
       url('../assets/fonts/libre-franklin-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-franklin-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-franklin-v2-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-franklin-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-franklin-v2-latin-900.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}
/* libre-franklin-900italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/libre-franklin-v2-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
       url('../assets/fonts/libre-franklin-v2-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-franklin-v2-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-franklin-v2-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-franklin-v2-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-franklin-v2-latin-900italic.svg#LibreFranklin') format('svg'); /* Legacy iOS */
}


/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../assets/fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../assets/fonts/open-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/open-sans-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/open-sans-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/open-sans-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/open-sans-v14-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}