.download-box {
	padding-top: 1.25rem;
	background: #fafafa;
    border: 1px solid #eee;
	text-align: center;
	.ddownload-link {
		margin-bottom: 0.5rem;
	}
	p {
		font-size: $small-font-size;
	}
	@media only screen and (max-width: 750px ) { 
		width: 100%;
	}
	@media only screen and (min-width: 751px ) {
		&.float-left,
		&.float-right {
			max-width: 220px;
		}
		&.float-left {
			margin-right: map-get($grid-column-gutter, medium);
		}		
	}
}