/*********************
FOOTER STYLES
*********************/
#site-footer {
	clear: both;
	margin-top: 0;
	padding: 2rem 0;
	text-align: center;
	background-color: color('black', 'base');
	color: color('white', 'base');

	p:last-child {
		margin-bottom: 0;
	}
}