/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

	.entry-title &,
	.top-bar &,
	.tribe-events-list-event-title & {
		color: $black;
		@include hover {
			color: color('blue', 'base');
			.tribe-event-featured & {
				color: hsla(0,0%,100%,.9);
			}
		}
	}
	#sidebar-menu & {
		color: $black;
		@include hover {
			color: $black;
		}
	}
	.off-canvas & {
		color: color('white', 'base');
	}
	#site-footer & {
		color: $white;
		@include hover {
			color: $anchor-color-hover;
		}
	}


}