/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

	.entry-title &,
	.top-bar &,
	#sidebar-menu & {
		color: $black;
		@include hover {
			color: color('blue', 'base');
		}
	}

	.off-canvas & {
		color: color('white', 'base');
	}



}