/*********************
NAVIGATION STYLES
*********************/
.top-bar {

	height: topbar-height('small');

	.top-bar-right,
	.top-bar-left {
		> .menu {
			> li > a {
				line-height: rem-calc( topbar-height('small') ) - 1.4rem;
			}
		}
	}

	.title-area {

		ul {
			background-color: $white;
		}

		.site-logo {
			display: block;
			text-align: center;
			margin: 0;

			img {
				display: inline-block;
				margin: 0;
			}
		}
	}

	.is-dropdown-submenu-parent {
		> a::after {
			border-color: $black transparent transparent !important;
		}
		> a:hover:after {
			border-color: color('blue', 'base') transparent transparent !important;
		}
	}

	@include breakpoint(small only) {

		background-color: $white;

		.title-area {
			width: 130px;
			position: absolute;
			left: 50%;
			margin-left: -65px
		}

		.menu {
			background-color: $white;
		}
	}

	@include breakpoint(medium) {
		height: topbar-height('medium');

		.top-bar-right,
		.top-bar-left {
			> .menu {
				> li > a {
					line-height: rem-calc( topbar-height('medium') ) - 1.4rem;
				}
			}

			.dropdown.menu.medium-horizontal > li > .is-dropdown-submenu {
				// display: block;
				top: 80px;
				background-color: color('blue', 'base');
				a {
					color: $white;
					@include hover {
						background-color: color('orange', 'base');
					}
				}

			}
		}

		.top-bar-search {
			padding-top: (topbar-height('medium') - 38px)/2;
		}

		// left margin for main menu
		#main-menu > .menu {
			// padding-left: 1rem;
		}

		.title-area {
			ul {
				@include site-border($z:1, $height: topbar-height('medium') );
				height: topbar-height('medium');
			}
			.site-logo {
				@include static-left-sidebar;
			}
		}
	}

	@include breakpoint(large) {
		// height: topbar-height('large');

		.title-area {
			.site-logo {
				// width: 16.66667vw;
			}
		}


	}

	@include breakpoint(xlarge) {
		// height: topbar-height('large');

		.top-bar-right,
		.top-bar-left {
			> .menu {
				> li > a {
					padding: 0.7rem 30px !important;
				}
			}
		}
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

.menu {
	@include navigation-type-style;
}

.topbar-site-logo {

}

#main-menu {
	@include breakpoint(large) {

	}
	@include breakpoint(xlarge) {

	}
}

#sidebar-menu {

	padding-top: 1rem;

	> .menu {
		li {
			border-left: 5px solid color( 'blue', 'base' );
			position: relative;
			@include hover {
				background-color: color('grey', 'light');
				border-left: 5px solid color( 'orange', 'base' );
			}
			&.active {
				border-left: 5px solid color( 'blue', 'dark' );
				background: color('grey', 'light');
				> a {
					background: transparent;
				}
			}
		}

		> li {

			> a {
				line-height: 1.5rem;
			}

			// Slightly more top padding before the first link
			&:first-of-type > a{
				// padding-top: 1rem;
			}
		}
	}

	.is-accordion-submenu-parent {
		> a::after {
			display: inline-block;
			position: relative;
			right: 0;
			margin-left: 0.5rem;
			top: 0;
			margin-top: 0;
			padding-top: 2px;
			border-color: $black transparent transparent;
		}

		&[aria-expanded='true'] {
			border-left: 5px solid color( 'blue', 'dark' );
			li {
				border-left: 5px solid color( 'blue', 'dark' );
			}
		}

		&:hover {
			li {
				border-left: 5px solid color( 'orange', 'base' );

				&:hover {
					border-left: 5px solid darken(color( 'orange', 'dark' ), 5%);
				}
			}
		}
	}

	.menu.nested {
		margin-left: 0;
		position: absolute;
		left: -5px;
		right: 0;
		li {
			padding-left: 0.75rem;
		}
	}
}



