/*********************
NAVIGATION STYLES
*********************/
.top-bar {

	height: topbar-height('small');



	.top-bar-right,
	.top-bar-left {
		> .menu {
			> li a {
				line-height: rem-calc( topbar-height('small') ) - 1.4rem;
			}
		}
	}

	.title-area {

		ul {
			background-color: $white;
			// border-left: 5px solid color( 'blue', 'base' );
			li {

			}
		}

		.site-logo {
			display: block;
			text-align: center;
			margin: 0;

			img {
				display: inline-block;
				margin: 0;
			}
		}
	}

	@include breakpoint(small only) {

		background-color: $white;

		.title-area {
			width: 130px;
			position: absolute;
			left: 50%;
			margin-left: -65px
		}

		.menu {
			background-color: $white;
		}
	}

	@include breakpoint(medium) {
		height: topbar-height('medium');

		.top-bar-right,
		.top-bar-left {
			> .menu {
				> li a {
					line-height: rem-calc( topbar-height('medium') ) - 1.4rem;
				}
			}
		}

		// left margin for main menu
		#main-menu > .menu {
			// padding-left: 1rem;
		}

		.title-area {
			ul {
				@include site-border($z:1, $height: topbar-height('medium') );
				height: topbar-height('medium');
			}
			.site-logo {
				width: 25vw;
			}
		}
	}

	@include breakpoint(large) {
		// height: topbar-height('large');

		.title-area {
			.site-logo {
				width: 16.66667vw;
			}
		}
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

.menu {
	@include navigation-type-style;
}

.topbar-site-logo {

}

#sidebar-menu {
	// @include site-border;
	// background-color: blue;
	> .menu {
	// border-left: 5px solid color( 'blue', 'base' );

		li {
			
			// @include site-border($color: color( 'blue', 'base' ), $z:1, $height: 50.63px );
			border-left: 5px solid color( 'blue', 'base' );
			position: relative;
			@include hover {
				background-color: color('grey', 'light');
				border-left: 5px solid color( 'orange', 'base' );
				// border-left: 5px solid color( 'orange', 'base' );
				// @include site-border($z:1, $height: topbar-height('medium') );
			}
		}

		> li {
			
			> a {
				line-height: 1.5rem;
				// border-left: 5px solid color( 'blue', 'base' );
				@include hover {
					// background-color: color('blue', 'base');
					// border-left: 5px solid color( 'orange', 'base' );
					// @include site-border($z:1, $height: topbar-height('medium') );

				}
			}

			// Slightly more top padding before the first link
			&:first-of-type > a{
				padding-top: 1rem;
			}
		}
	}

	.is-accordion-submenu-parent {
		> a::after {
			display: inline-block;
			position: relative;
			right: 0;
			margin-left: 0.5rem;
			top: 0;
			margin-top: 0;
			padding-top: 2px;
			border-color: $black transparent transparent;
		}
		> a:hover:after {
			// border-color: color('blue', 'base') transparent transparent;
		}
		&[aria-expanded='true'] {
			> a:hover:after {
				// border-color: color('blue', 'base') transparent transparent;
			}

		}
		&:hover {
			li {
				border-left: 5px solid color( 'orange', 'base' );
				&:hover {
					border-left: 5px solid darken(color( 'orange', 'dark' ), 5%);
				}
			}
		}
	} 

	.menu.nested {
		margin-left: 0;
		position: absolute;
		left: -5px;
		right: 0;
		// width: 100%;
	}
}