.off-canvas {
	color: $white;
	
	.menu {
		margin-bottom: 1rem;
	}

	a {
		@include hover {
			background-color: color('aqua', 'base');

		}
	}
	label {
		color: $white;
	}
	li {
		> form, > span {
			padding: $menu-item-padding;
		}

		.input-group {
			margin-bottom: 0;
		}
	}
}