.page-header {
	@include css-gradient(color('blue', 'dark'), color('blue', 'light') );
	color: $white;
}

.page-header-image {
	background: red;
	@include grid-column($columns: 100%, $gutters: 0px);


	img {
		-o-object-fit: cover;
		object-fit: cover;
		height: 100%;
		
	}
}
.page-header-text {
	padding-top: block-padding(small);
	padding-bottom: block-padding(small);
	@include grid-column($columns: 100%, $gutters: 30px);

	@include breakpoint(medium) {
		// @include grid-column($columns: 66.66667%, $gutters: 30px);
	}
}

@include breakpoint(medium) {
	.page-header-image {
		@include grid-column($columns: 33.3333%, $gutters: 0px);
	}
	.page-header-text {
		padding-top: block-padding(medium);
		padding-bottom: block-padding(medium);
		@include grid-column($columns: 66.66667%, $gutters: 30px);
	}
}

@include breakpoint(large) {
	.page-header-text {
		padding-top: block-padding(large);
		padding-bottom: block-padding(large);
		@include grid-column($columns: 66.66667%, $gutters: 30px);
	}
}
@include breakpoint(xlarge) {
	.page-header-text {
		@include grid-column($columns: 66.66667%, $gutters: 150px);
	}
}