.section-navigation {
	background: color( 'blue', 'base' );
	a {
		color: $white;
	}
}
.single-cit_past_event,
.single-tribe_events {
	.sections {
		margin-top: 1rem;
		section {
			margin-bottom: 1rem;
		}
	}
	.section-title {
		@extend h3;
	}
	@include breakpoint(medium) {
		.sections {
			margin-top: 2rem;
			section {
				margin-bottom: 2rem;
			}
		}
	}
}



.pdfemb-viewer + .pdfemb-viewer {
	margin-top: 1rem !important;
	@include breakpoint(medium) {
		margin-top: 2rem !important;
	}
}

body.single-tribe_events .past-event-content .tribe-events-cal-links {
    display: none !important;
}

.tribe-bar-year-field-filter {
	padding: 15px;
	float: left;
	width: 25%;
	margin-bottom: 0;
	.tribe-bar-collapse & {
		width: 100%;
		float: none;
		clear: both;
	}
}