/*********************
POSTS & CONTENT STYLES
*********************/

.post {
	margin-bottom: 3rem;
}

.single-title,
.page-title {

}

.single-title {

}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

.entry-title {
	margin-bottom: 1rem;
}

.article-header {
	position: relative;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid color( 'grey', 'base' );
	text-align: center;
	&:after {
		content:' ';
	    display:block;
	    position:absolute;
	    left:43%;
	    top:0;
	    right:43%;
	    bottom:-1px; 
	    border-bottom: 1px solid color( 'blue', 'base' );
	}
}

.date {
	// margin-bottom: 0;
	color: #999;
	font-family: $sans-family;
	time {}
}

// Post meta
.byline {
	color: #999;
	font-family: $sans-family;
}

// Entry content
.entry-content {

	// .single-post & p:first-of-type {
	// 	color: red;
	// }

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

	.read-more {
		text-align: center;
	}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}