@mixin hover-outline {
	&:hover {
	    z-index: 100;
	    box-shadow: 0 0 0 4px color( 'blue', 'base' ),0 0 16px 8px rgba(14,27,35,.15);
	    // position: absolute;
	}	
}

.pricing {
	> div {
		position: relative;
		z-index: 90;
		
	}
	@include breakpoint(large) {
		> div {
			@include hover-outline;
		}
	}
}

.pricing-option {
	@include light-grey-box;
	margin-bottom: 1rem;
	text-align: center;
	z-index: 90;

	@include hover-outline;

	.pricing-header {
		background-color: color( 'grey', 'light' );
		padding: 1.3em 1em;
		// color: $white;

		h2 {
			font-size: 1.25rem;
		}

		.cd-price {
			display: inline-block;
			font-weight: bold;
			span {
				float: left;
				&:nth-of-type(2) {
				    color: lighten( $black, 40 );
				    &::before {
					    content: '/';
					}
				}
			}
		}
	}

	.cd-pricing-features {
	    padding: 2.8em 1em 2em;
	    ul {
	    	@include reset-list;
	    }

	    li {
		    line-height: 1.5;
		    margin-bottom: .75em;

		    &:before {
				@include icon-before;
			}

		    &.unavailable {
		    	color: lighten( $black, 40 );
		    	// &:before {
		    	// 	content: '\e806';
		    	// }
		    }
		 //    &.available:before {
			//     content: '\e805';
			// }
		}
	}

	@include breakpoint(medium down) {
		@include hover-outline;
	}
	@include breakpoint(large) {
		margin-bottom: 0;
	}

}

.cd-pricing-footer {
    padding-bottom: 0.7em;
}