/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	// @include navigation-type-style;
	
	padding-top: 1rem;
	@include breakpoint(medium) {
		padding-top: 3rem;
	}
	@include breakpoint(large) {
		// background: color('grey', 'light');
	}
}

#searchsubmit {
}

.widgettitle {
	@include navigation-type-style($size:14px);
	position: relative;
	margin-bottom: 1.25rem;
	padding-bottom: 1rem;
	text-align: center;
	@include divider;
}

.widget {
	margin-bottom: 2rem;
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}